@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}

body{
    color: azure;
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* padding-top: -30; */
}

.button {
    display: flex;
    justify-content: space-between; /*left & right*/
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 40%;
    max-width: 400px;
    margin-top:20px
}

.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a{
    padding: 15px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    margin-bottom: 20px;
}   

.btn1 a{
    background-color: #effd26;
}

.btn2 a{
    background-color: #f20044;
}

.botones a:focus{
    background-color: rgb(50, 194, 194);
}

.greetings{
    font-size: 7rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}

.greetings > span:nth-child(6){
    animation-delay: 1s;
}

.greetings > span:nth-child(7){
    animation-delay: 1.2s;
}

.greetings > span:nth-child(7){
    animation-delay: 1.4s;
}

.greetings > span:nth-child(8){
    animation-delay: 1.6s;
}

.greetings > span:nth-child(9){
    animation-delay: 1.8s;
}

.greetings > span:nth-child(10){
    animation-delay: 2s;
}

.greetings > span:nth-child(11){
    animation-delay: 2.2s;
}


.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (min-width:889px) and (max-width:1118px){

    .greetings{
        font-size: 6.5rem;
        font-weight: 800;
    }
    .description{
        margin-top: 20px;
        font-size: 1.5rem;
    }
    
    .button a {
        font-size: 1rem;
    }

    .button {
        width: 60%;
        max-width: 400px;
        margin-top:10px
    }

    .botones a {
        width: 60%; /* Botones ocupan todo el ancho en móvil */
        font-size: 1rem;
        padding: 20px;
    }
}

@media screen and (min-width:601px) and (max-width:888px){

    .greetings{
        font-size: 4rem;
        font-weight: 800;
    }
    .description{
        margin-top: 20px;
        font-size: 1rem;
    }
    
    .button a {
        font-size: 1rem;
    }

    .button {
        width: 60%;
        max-width: 320px;
        margin-top:10px
    }

    .botones a {
        width: 60%; /* Botones ocupan todo el ancho en móvil */
        text-align: center;
        font-size: 0.8rem;
        padding: 20px;
    }
}

@media screen and (min-width:410px) and (max-width:600px){

    .greetings{
        font-size: 3rem;
        font-weight: 800;
    }
    .description{
        margin-top: 20px;
        font-size: 1rem;
    }
    
    .button a{
        font-size: 0.5rem;
    }

    .button {
        width: 60%;
        max-width: 290px;
        margin-top:10px
    }

    .botones a {
        width: 60%; /* Botones ocupan todo el ancho en móvil */
        text-align: center;
        font-size: 0.5rem;
        padding: 20px;
    }
}

@media screen and (min-width:300px) and (max-width:409px){

    .greetings{
        font-size: 2.5rem;
        font-weight: 800;
    }
    .description{
        margin-top: 20px;
        font-size: 0.8rem;
    }
    
    .button a{
        font-size: 0.4rem;
    }

    .button {
        width: 60%;
        max-width: 270px;
        margin-top:10px
    }

    .botones a {
        width: 60%; /* Botones ocupan todo el ancho en móvil */
        text-align: center;
        font-size: 0.3rem;
        padding: 20px;
    }
}

